[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.104"
uvicorn = "~=0.24"
flower = "~=2.0"
requests = "~=2.31"
python-dotenv ="~=1.0"
celery = {extras = ["redis"], version = "~=5.3"}
pandas = "~=2.1"
numpy = "~=1.26"
pydantic = "~=2.4"
findpeaks = "==2.5.3"
chardet = "~=5.2"
pydantic-settings = "~=2.1"
dacite = "~=1.8"

[dev-packages]
setuptools = "*"
black = "*"
watchdog = "*"
honcho = "*"
bandit = "*"
pandas-stubs = "*"
types-requests = "*"
celery-types = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.11"
